<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>

	<nav th:replace="layouts :: navbar"></nav>

	<div>
		<h4>Current Projects</h4>
		<hr>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Project Name</th>
					<th>Project Stage</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="aProject : ${projects}">
					<td th:text="${aProject.name}" />
					<td th:text="${aProject.stage}" />
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h4>Current Employees</h4>
		<hr>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Employee First Name</th>
					<th>Employee Last Name</th>
					<th>Employee Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="emp : ${employees}">
					<td th:text="${emp.firstName}" />
					<td th:text="${emp.lastName}" />
					<td th:text="${emp.email}" />
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="layouts :: scripts"></div>
</body>

</html>