<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>

	<nav th:replace="layouts :: navbar"></nav>

	<div>
		<h4>Projects Directory</h4>
		<hr>
		<a th:href="@{/projects/new}" class="btn btn-primary btn-sm mb-3">
			New Project
		</a>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Project Name</th>
					<th>Project Stage</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="aProject : ${projects}">
					<td th:text="${aProject.name}" />
					<td th:text="${aProject.stage}" />
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="layouts :: scripts"></div>
</body>

</html>